/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

td {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid teal;
    min-width: 150px;
}